@forward 'base';

@media only screen and (min-width: 375px) {
    :root {
        --padding-inline-main: calc(1rem + (39 + 16) * ((100vw - 375px) / (768 - 375)));
    }

    .header__image {
        width: calc(320px + (514 - 320) * ((100vw - 375px) / (768 - 375)));
    }

    .main {
        padding-block-end: calc(4rem + (104 - 64) * ((100vw - 375px) / (768 - 375)));
    }

    .footer__author__cta {
        padding: calc(2rem + (48 - 32) * ((100vw - 375px) / (768 - 375)));
    }
}

@media only screen and (min-width: 768px) {
    :root {
        --padding-inline-main: calc(2.4375rem + (165 + 39) * ((100vw - 768px) / (1440 - 768)));
    }
 
    .header__image {
        width: calc(514px + (767 - 514) * ((100vw - 768px) / (1440 - 768)));
    }

    .main {
        padding-block-end: calc(4rem + (104 - 64) * ((100vw - 768px) / (1440 - 768)));
    }

    .main__services__item {
        grid-template-areas: "number header" "number main";
    }

    .main__services__item h4 {
        grid-area: number;
        align-self: center;
    }
    
    .main, .footer {
        text-align: left;
    }
    
    .footer__author {
        align-items: start;
    }
    
    .footer__author img {
        width: calc(280px + (477 - 280) * ((100vw - 768px) / (1440 - 768)));
        margin-bottom: calc(-130px + ((-304) - (-130)) * ((100vw - 768px) / (1440 - 768)));;
    }
    
    .footer__author__cta {
        max-width: calc(514px + (730 - 514) * ((100vw - 768px) / (1440 - 768)));
        padding: 3rem;
        margin-left: calc(175px + (382 - 175) * ((100vw - 768px) / (1440 - 768)));
        gap: calc(1.5rem + (32 - 24) * ((100vw - 375px) / (1440 - 768)));
        align-items: start;
    }
}

@media only screen and (min-width: 1200px) {
    .main__services {
        max-width: none;
        flex-direction: row;
    }

    .main__services__item {
        grid-template-areas: "number" "header" "main";
        justify-items: center;
    }
    
    .main {
        text-align: center;
    }
}

@media only screen and (min-width: 1439px) {
    :root {
        --padding-inline-main: 165px;
    }

    .header__image {
        width: 767px;
    }

    .main {
        padding-block-end: 6.5rem;
    }

    .main__services {
        max-width: none;
        flex-direction: row;
    }

    .main__services__item {
        grid-template-areas: "number" "header" "main";
        justify-items: center;
    }
    
    .main {
        text-align: center;
    }
    
    .footer__author img {
        width: 477px;
        margin-bottom: -304px;
    }
    
    .footer__author__cta {
        max-width: 730px;
        padding: 4rem;
        margin-left: 382px;
        gap: 2rem;
        align-items: start;
    }

    .footer__author__cta {
        max-width: 800px;
        padding: 4rem;
        gap: 2rem;
    }
}