body {
    overflow-x: hidden;
}

.curve-bg::before {
    content: " ";
    width: 2200px;
    height: 2200px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.header::before {
    bottom: 92px;
    background-color: var(--clr-secondary-1);
}

.main::before {
    bottom: 0;
    background-color: var(--clr-primary-2);
}

@media only screen and (min-width: 375px) {
    .curve-bg::before {
        width: calc(2200px + (4500 - 2200) * ((100vw - 375px) / (768 - 375)));
        height: calc(2200px + (4500 - 2200) * ((100vw - 375px) / (768 - 375)));
    }

    .header::before {
        bottom: calc(92px + (148 - 92) * ((100vw - 375px) / (768 - 375)));
    }
}

@media only screen and (min-width: 768px) {
    .curve-bg::before {
        width: calc(4500px + (8310 - 4500) * ((100vw - 768px) / (1440 - 768)));
        height: calc(4500px + (8310 - 4500) * ((100vw - 768px) / (1440 - 768)));
    }

    .header::before {
        bottom: calc(92px + (148 - 92) * ((100vw - 768px) / (1440 - 768)));
    }
}

@media only screen and (min-width: 1439px) {
    .header::before {
        bottom: calc(92px + (148 - 92) * ((100vw - 768px) / (1440 - 768)));
    }
}