.footer {
    padding-inline: var(--padding-inline-main);
    padding-block-start: 6.25rem;
    padding-block-end: 4rem;
    color: var(--clr-secondary-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.625rem;

    &__author {
        display: flex;
        flex-direction: column;
        align-items: center;

        & img {
            width: 280px;
            height: auto;
            margin-bottom: -52px;
        }
        
        &__cta {
            max-width: 514px;
            padding: 2rem;
            color:var(--clr-primary-1);
            background-color: var(--clr-secondary-1);
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            align-items: center;
        }
    }
    
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.625rem;

        &__socials {
            display: flex;
            gap: 2rem;
            align-items: center;

            & img {
                width: 20px;
                height: 20px;
            }
        }
    }
}


