@use '../scss-utils/' as u;

.curve-bg {
    position: relative;
}

.curve-bg::before {
    mask-image: url("/assets/images/circle.svg");
    mask-repeat: no-repeat;
    mask-position:center bottom;
    mask-size: 577%;
    content: " ";
    width: max(100vw, 150px);
    height: 100vh;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    z-index: -1;
    bottom: 0;
}

.grid__header__image::before {
    bottom: 50%;
    background-color: var(--clr-secondary-1);

    @include u.breakpoint(tablet) {
        bottom: 165px;
    }
}

.grid__main::before {
    background-color: var(--clr-primary-2);
    z-index: -2;
}