@use '../scss-utils/' as u;

.grid__header {
    position: relative;
}

.background {
    position: absolute;
    max-width: 1800px;
    width: 100vw;
    height: 1000px;
    top: 0;
    // background-color: red;
    left: 50%;
    transform: translate(-50%,0);
    overflow-x: hidden;
    z-index: 0;
}

.grid__footer__cta__content {
    position: relative;
}

.pattern-1,
.pattern-2,
.pattern-3 {
    position: absolute;
    visibility: hidden;

    @include u.breakpoint(tablet) {
        visibility: visible;
    }
}

.pattern-1 {
    top: clamp(35px, 3.571vw + 8px, 59px);
    left: calc(clamp(139px, -13.244vw + 330px, 228px) * -1);

    @include u.breakpoint(desktop) {
        left: clamp(-139px, 38.611vw + -695px, 0px);
    }
}

.pattern-2 {
    top: clamp(218px, 4.464vw + 15.712px, 258px);
    right: calc(clamp(48px, -6.845vw + 146px, 94px) * -1);

    @include u.breakpoint(desktop) {
        right: clamp(-48rem, 56.667vw + -54rem, 9.75rem);
    }
}

.pattern-3 {
    bottom: calc(clamp(48px, -8.631vw + 172px, 106px) * -1);
    right: clamp(0px, 10.714vw + -82px, 72px);
    max-width: 220px;
    margin-top: inherit;
}