:root {
    --clr-primary-1: hsl(0, 0%, 100%);
    --clr-primary-2: hsl(274, 100%, 99%);
    --clr-secondary-1: hsl(273, 85%, 13%);
    --clr-secondary-2: hsl(271, 12%, 34%);
    --clr-accent: hsl(150, 100%, 63%);

    --fw-semi-bold: 600;
    --fw-bold: 700;

    --ff-primary: 'Manrope', sans-serif;
    --ff-secondary: 'Fraunces-144', serif;
}